* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.b {
    border: 2px solid red;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
}

.button {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 1px;
}

.status{
    margin-bottom: 10px;
}